.hero {
  &-row {
    row-gap: 20px;
  }

  &-content {
    padding: 24px 16px;
    background-color: var(--color-blue-31);
    color: var(--color-white);
    overflow: hidden;
    border-radius: 20px;
    backdrop-filter: blur(9px);
    border: 1px solid rgba(88, 93, 98, 0.2);
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05);
  }

  &-desc {
    margin-bottom: 198px;
    font-size: 14px;
    line-height: 1;

    @media (max-width: 1199.98px) {
      margin-bottom: 120px;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 72px;
    }
  }

  &-logo {
    margin-bottom: 198px;

    @media (max-width: 1199.98px) {
      margin-bottom: 120px;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 24px;
      width: 256px;
      height: 39px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-text {
    margin-bottom: 32px;
    line-height: 18px;
    max-width: 322px;

    @media (max-width: 991.98px) {
      margin-bottom: 72px;
    }
  }

  &-btn-info {
    display: inline;
    padding: 0;
    margin-left: 2px;
    border: none;
    background-color: var(--color-gray-EC);
    color: var(--color-blue-31);
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &-bottom {
    display: flex;
    align-items: flex-end;
    gap: 18px;

    @media (max-width: 1199.98px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: 991.98px) {
      gap: 24px;
    }
  }

  &-btn {
    padding-left: 11px;
    padding-right: 11px;
    flex-shrink: 0;
  }

  &-information {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 8px;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: var(--color-gray-EC);
      color: var(--color-blue-31);
      flex-shrink: 0;
      grid-row: 1/3;

      svg {
        width: 24px;
        height: 24px;

        @media (max-width: 991.98px) {
          width: 12px;
          height: 12px;
        }
      }

      @media (max-width: 991.98px) {
        width: 23px;
        height: 23px;
        grid-row: 1/2;
      }
    }

    &-title {
      @media (max-width: 991.98px) {
        align-self: center;
      }
    }

    &-text {
      font-size: 12px;
      line-height: 1;

      @media (max-width: 991.98px) {
        grid-column: 1/3;
        font-size: 10px;
      }
    }

    @media (max-width: 991.98px) {
      align-items: flex-start;
    }
  }

  &-media {
    height: 100%;
    overflow: hidden;
    border-radius: 20px;

    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 991.98px) {
      height: 400px;
    }
  }

  @media (min-width: 992px) {
    padding-top: 21px;
  }
}
